<div class="fixed top-0 left-0 right-0 p-3 border-b border-b-slate-600">
  <div class="flex justify-between">
    <a class="font-bold text-lg p-2 hover:text-slate-200 cool" href="/">
      Plorp
    </a>

    <ul>
    </ul>

    <div class="flex justify-between items-center">
      <% if current_user %>
        <button
          data-controller="plaid-button"
          data-action="plaid-button#handleClick"
          class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded tracking-wider disabled:opacity-70 disabled:cursor-not-allowed"
        >
          plaid
        </button>
      <% else %>
        <%= link_to 'sign in', user_session_path, class: '' %>
      <% end %>
    </div>
  </div>
</div>
