<div class="w-full max-w-sm m-auto flex flex-col items-center">
  <h2 class="text-xl text-white font-bold mb-8">New spending plan</h2>
  <%= render "form", budget: @budget, spending_plan: @spending_plan, accounts: @accounts %>
</div>
